@import "tailwindcss";

@layer base {
	html {
		@apply bg-root;
		@apply text-font-primary;
		@apply antialiased;
	}
}

@layer components {

	.preload, .preload * {
        transition: none !important;
        -webkit-transition: none !important;
        -moz-transition: none !important;
    }

	.card {
		@apply bg-base;
		@apply border;
		@apply border-stroke;
		@apply rounded;
	}

	.vl {
		@apply border-l;
		@apply border-stroke;
		@apply h-full; 
		@apply rounded;
	}

	.button {
		@apply w-fit;
		@apply p-2;
		@apply px-3;
		@apply bg-control;
		@apply hover:bg-control-hover;
		@apply disabled:bg-control-disabled;
		@apply text-sm;
		@apply text-font-primary;
		@apply disabled:text-font-disabled;
		@apply rounded;
		@apply cursor-pointer;
		@apply border;
		@apply border-stroke;
		@apply transition-colors;
		@apply duration-75;
	}

	.button.disabled {
		@apply bg-control-disabled;
		@apply text-font-disabled;
		@apply border-stroke-disabled;
	}

	.button-primary {
		@apply w-fit;
		@apply p-2;
		@apply px-3;
		@apply bg-brand;
		@apply hover:bg-brand-hover;
		@apply disabled:bg-control-selected;
		@apply text-sm;
		@apply text-font-invert;
		@apply disabled:text-font-disabled;
		@apply rounded;
		@apply cursor-pointer;
		@apply border;
		@apply border-brand-hover;
		@apply disabled:border-stroke;
		@apply transition-colors;
		@apply duration-75;
	}

	.button-reveal {
		@apply w-fit;
		@apply p-2;
		@apply px-3;
		@apply bg-transparent;
		@apply hover:bg-control-hover;
		@apply disabled:bg-transparent;
		@apply text-sm;
		@apply text-font-secondary;
		@apply disabled:text-font-disabled;
		@apply rounded;
		@apply cursor-pointer;
		@apply transition-colors;
		@apply duration-75;
	}

	.inputBox {
		@apply rounded;
		@apply border;
		@apply bg-control-input;
		@apply focus:bg-control-input-selected;
		@apply border-stroke; 
		@apply disabled:bg-control-disabled;
		@apply p-2;
		@apply text-sm;
		@apply cursor-text;
		@apply cursor-text;
		@apply disabled:text-font-disabled;
		@apply focus:outline-hidden;
		@apply transition-colors;
		@apply duration-75;
		
		@apply bg-bottom bg-no-repeat;
		@apply focus:bg-[linear-gradient(to_right,var(--color-brand),var(--color-brand))];
		@apply focus:bg-size-[calc(100%)_2px];

	}

	input:disabled:-webkit-autofill {
		-webkit-box-shadow: 0 0 0 1000px rgb(229 231 235) inset;
		-webkit-text-fill-color: rgb(107 114 128);
  	}
}

@theme {

    --color-root: #f0f0f0;    
	--color-root-dark: #202020;
    --color-base: #ffffff;          
    --color-secondary: #eeeeee;
    --color-stroke: #e5e5e5;            
	--color-stroke-disabled: #e5e5e5; 
    
    --color-control: #ffffff;          
	--color-control-input: #ffffff;  
    --color-control-hover: #f7f7f7;   
	--color-control-selected: #ffffff;  
    --color-control-input-selected: #ffffff; 
    --color-control-disabled: #f9f9f9;   
    
    --color-brand: #0067c0;              
    --color-brand-hover: #005cac;        
    
    --color-font-primary: #000000;       
    --color-font-secondary: #5f5f5f;     
    --color-font-invert: #ffffff;
	--color-font-disabled: #a0a0a0;

	--color-status-paused: #878787;  
    --color-status-error: #e81123; 
}

@custom-variant dark (&:where(.dark, .dark *));

@variant dark{

        --color-root: #202020;          
        --color-base: #2d2d2d;          
        --color-secondary: #1c1c1c;      
        --color-stroke: #3c3c3c;         
		--color-stroke-disabled: #323232;
        
        --color-control: #383838;        
		--color-control-input: #2a2a2a;        
        --color-control-hover: #444444; 
        --color-control-selected: #404040;
		--color-control-input-selected: #252525;  
        --color-control-disabled: #2f2f2f;
        
        --color-brand: #60cdff;          
        --color-brand-hover: #4cc3ff;    
        
        --color-font-primary: #ffffff;   
        --color-font-secondary: #c7c7c7; 
        --color-font-invert: #000000;    
		--color-font-disabled: #666666;

		--color-status-paused: #9e9e9e;
        --color-status-error: #ff99a4;

}

@keyframes progressBar {
  0% {
    left: -40%;
    width: 30%;
  }
  50% {
    left: 40%;
    width: 60%;
  }
  100% {
    left: 100%;
    width: 0%;
  }
}

.animate-winui-indeterminate {
  animation: progressBar 2s cubic-bezier(0.4, 0, 0.2, 1) infinite;
}